<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/flights.css" />
<%- include('../partials/nav') %>

<h1>Add New Meal</h1>

<form action="" method="">
  <label for="name-input">Meal:</label>
  <input type="text" name="name" id="name-input">
</form>

<%- include('../partials/footer') %>