body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F6F0ED;
}

table {
  display: block;
}

body > nav {
  /* grid-area: nav; */
  background-color: #28536B;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  color: white;
}

a {
  color: blue;
}