<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/flights.css" />
<%- include('../partials/nav') %>

  <h1>Add New Flight</h1>
  <form action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input">
    <select name="airport" id="airport-select">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input">
    <label for="departs-input">Departure:</label>
    <input type="datetime-local" name="departs" id="departs-input">
    <button type="submit">Submit</button>
  </form>


  <%- include('../partials/footer') %>