<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input">
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input">
    <label for="departs-input">Departure:</label>
    <input type="text" name="departs" id="departs-input">
    <button type="submit">Submit</button>
  </form>
</body>
</html>